:root {
  font-size: 18px;
  --white: #FFFFFF;
  --grayLight: #E5E5E5;
  --gray: #616161;
  --blackLight: #424242;
  --black: #212121;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.wrapper {
  max-inline-size: 960px;
  margin-inline: auto;
  padding-inline: 10px;
}

.hero {
  color: var(--black);
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin-block-start: 120px;
  margin-block-end: 16px;
}

.hero p {
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 0;
  margin-block-end: 56px;
}

.header {
  color: var(--gray);
  font-size: 14px;
}

.header p {
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 16px;
}

.nav-setup {
  margin-block-end: 24px;
}

.header nav summary {
  font-weight: 700;
  margin-block-end: 16px;
}

.header nav {
  border-left: 4px solid #C4C4C4;
  padding-inline-start: 16px;
}

.header nav details ol {
  margin-block: 0;
  padding-inline-start: 15px;
}

.header li {
  margin-block-end: 16px;
}

.header li:last-of-type {
  margin-block-end: 0;
}

.header li a {
  text-decoration: none;
  color: var(--gray);
}

.header li a:hover {
  color: var(--black);
}

hr {
  margin-block: 64px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

h2 {
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 40px;
  font-weight: 400;
  color: var(--black);
}

.setup img {
  display: block;
}

.setup h3,
.box-model h3 {
  margin-block: 16px;
  font-size: 24px;
  font-weight: 400;
  color: var(--blackLight);
  counter-increment: titleList;
}

.setup p, .conceptos-esenciales p, .box-model p {
  margin-block-start: 0;
  margin-block-end: 40px;
  font-size: 16px;
  font-weight: 400;
  color: var(--blackLight);
  line-height: 24px;
}

blockquote {
  margin-inline: 0;
  margin-block: 80px;
  padding-inline-start: 16px;
  border-left: 4px solid var(--black);
}

blockquote p {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

blockquote p:first-child {
  margin-block-end: 16px;
}

blockquote p:last-child {
  color: var(--gray);
}

#html, #etiquetas, #dom, #semantica, #atributos, #css {
  margin-block-end: 40px;
}

.conceptos-esenciales h3{
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 24px;
  font-weight: 400;
  color: var(--blackLight);
  counter-increment: titleList;
}


.conceptos-esenciales p {
  margin-block-end: 16px;
}

pre {
  margin-block: 0;
  padding-inline: 40px;
  padding-block: 40px;
  background: var(--grayLight);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--blackLight);
  line-height: 24px;
  border: none;
  border-radius: 8px;
  overflow: auto;
}

.conceptos-esenciales img {
  max-inline-size: 100%;
}

.conceptos-esenciales {
  counter-reset: titleList;
}

.setup h3::before,
.conceptos-esenciales h3::before {
  content: counter(titleList)'. ';
}

.content-boxModel,
.content-propiedadesFisicas,
.content-propiedadesLogicas {
  /* border: 1px solid red; */
  margin-block-start: 0;
  margin-block-end: 40px;
}

.content-boxModel h3,
.content-propiedadesFisicas h3,
.content-propiedadesLogicas h3 {
  margin-block-start: 0;
}

.box-model p {
  margin-block: 16px;
}

.box-model ol, .box-model ul {
  margin-block: 0;
  padding-inline-start: 15px;
}

.box-model ol li, .box-model ul li{
  font-size: 16px;
  color: var(--blackLight);
  margin-block-end: 16px;
  line-height: 24px;
}

.box-model ol li {
  margin-block-end: 6px;
}

.slider-container {
  /* border: 1px solid blue; */
  /* block-size: 300px; */
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slider-slide iframe {
  /* block-size: 100px; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  margin-block-start: 16px;
  text-align: center;
  line-height: 0;
}

.slider-bullet-list a{
  display: inline-block;
  block-size: 16px;
  inline-size: 16px;
  background: rgba(66, 66, 66, 0.2);
  border-radius: 50%;
  margin-inline-end: 8px;
}

.slider-bullet-list a:hover {
  background-color: var(--black);
}

.e-mail {
  margin-block: 40px;
}

.e-mail p {
  margin-block: 0;
  font-size: 16px;
  color: var(--black);
}

.e-mail a {
  color: black;
}

.newsletter p {
  font-size: 24px;
  color: var(--blackLight);
  line-height: 28px;
  margin-block-start: 0;
  margin-block-end: 16px;
}

.form {
  font-size: 0;
}

input[type="text"],
input[type="email"] {
  border: 1px solid var(--gray);
  inline-size: 280px;
  block-size: 48px;
  border-radius: 90px;
  padding-block: 12px;
  padding-inline: 16px;
  box-sizing: border-box;
  color: var(--black);
  font-size: 16px;
}

input[type="text"] {
  margin-inline-end: 16px;
}

.form input::-webkit-input-placeholder {
  color: var(--blackLight);
}

.position {
  display: inline-block;
  position: relative;
  /* border: 1px solid red; */
  /* overflow: hidden; */
  inline-size: 337px;
}

.form input[type="submit"] {
  inline-size: 119px;
  block-size: 48px;
  border-radius: 90px;
  border: none;
  background: #000000;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  padding-block: 12px;
  padding-inline: 16px;
  box-sizing: border-box;
  position: absolute;
  inset-inline-end: 0;
}


